{% extends "./layout/base.html" %}
{% load static %}

{% block title %}
    Create User - {{ block.super }}
{% endblock %}

{% block content %}

     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Login</h1>

         <form method="post" >
             {% csrf_token %}
             <table>
                {{ form.as_p }}
                 <tr>
                    <td></td>
                    <td><input type="submit" name="login" value="Login" /></td>
                </tr>
             </table>
         </form>
     </div>

{% endblock %}